<app-header></app-header>
<app-dropdown-buttons></app-dropdown-buttons>
<div class="bank-accounts">

  <div class="section" *ngIf="transactions.length > 0">
    <div class="section__heading">
      <h1>HISTORY</h1>
    </div>
    <hr>
    <div class="accounts">
      <app-card-slider
          [data]="transactions"
          [cardType]="cardType"
          >
      </app-card-slider>
    </div>
  </div>

  <div class="section">

    <div class="section__heading">
      <h1>SCORE Notes</h1>
      <label>Currently open profiles <b>({{bankAccounts?.length}})</b></label>
    </div>
    <hr>

    <div class="button-create">
      <app-button [buttonText]="titleCreateBankAccount" (click)="openModal('create', 0)"></app-button>
    </div>

    <div class="accounts" *ngFor="let item of bankAccounts; let accountIndex = index;">


      <div class="accounts__card">

        <div class="accounts__card__header">
          <h3>Score profile ID: {{item.id}}</h3>
          <app-button buttonText="Delete" buttonType="danger" (click)="deleteAccount(accountIndex)"></app-button>
        </div>

        <div class="accounts__card__content">

          <div class="accounts__card__content__block">
            <label class="label-title">Score</label>
            <label class="label-value">{{item.score}}</label>
          </div>

          <hr>

          <div class="accounts__card__content__block">
            <label class="label-title">Note</label>
            <label class="label-value">{{item.note}}</label>

            <!-- <label class="label-title">Limit withdraw</label>
            <label class="label-value">{{item.limitWithdraw}}</label> -->
          </div>

        </div>

        <div class="accounts__card__content__buttons">
          <app-button buttonText="Edit" (click)="openModal('deposit', accountIndex)"></app-button>

          <app-button buttonText="Edit" buttonType="primary-empty" (click)="openModal('withdraw', accountIndex)"></app-button>
        </div>
      </div>
    </div>
  </div>

</div>


<div>

<!-- Modals -->
<app-modal
  #create
  [modalTitle]="titleCreateBankAccount"
  buttonConfirmText="Create"
  buttonDeclineText="Cancel"
  >
</app-modal>

<app-modal-transaction
  #deposit
  [modalTitle]="'Edit score'"
  (confirmClicked)="editScore($event)"
  >
  <nz-form-item>
    <nz-form-label>Edit score</nz-form-label>
    <nz-form-control>
      <input
        class="form-item__input"
        type="number"
        min="0"
        (click)="$event.target.select()"
        [(ngModel)]="score"
      />
    </nz-form-control>
  </nz-form-item>
</app-modal-transaction>

<app-modal-transaction
  #withdraw
  [modalTitle]="'Edit note'"
  (confirmClicked)="editNote($event)"
  >
  <nz-form-item>
    <nz-form-label>Edit note</nz-form-label>
    <nz-form-control>
      <input
        class="form-item__input"
        placeholder="Enter note"
        type="text"
        (click)="$event.target.select()"
        [(ngModel)]="note"
      />
    </nz-form-control>
  </nz-form-item>
</app-modal-transaction>

<!--
<app-modal-transaction
  #deposit
  [modalTitle]="'Deposit'"
  buttonConfirmText="Confirm"
  buttonDeclineText="Cancel"
  >
</app-modal-transaction>

<app-modal-transaction
  #withdraw
  [modalTitle]="'Withdraw'"
  buttonConfirmText="Confirm"
  buttonDeclineText="Cancel"
  >
</app-modal-transaction> -->
