.home {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/backgrounds/background1.png);
}
