@import "src/app/scss/variables.scss";
@import "src/app/scss/form-item.scss";

.hide-modal {
  display: none !important;
}

.modal-background {
  background: rgba(41, 41, 41, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  padding: 300px;
  background: white;
  box-shadow: 0px 0px 2px 1px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 50px;
  width: 600px;
  position: relative;
  top: -15%;
}

.modal__close {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 20px;
  height: 20px;
  margin-top: 25px;
  margin-right: 50px;
}

.modal__close:hover {
  background-color: $--tertiary-color;
  border-radius: 60px;
  cursor: pointer;
  color: $--danger-color;
}

.modal__title {
  text-align: center;
  margin-bottom: 70px;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-top: 70px;
}

.modal__buttons_spacing {
  margin-right: 20px;
}
