@import "src/app/scss/variables.scss";

.username {
  margin: 0px;
}

.dropdown {
  background-color: rgba(255, 255, 255, 0.89);
  position: absolute;
  top: 50px;
  right: 0px;
  margin-right: 50px;
}

.dropdown__button {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
}

.dropdown__button:hover {
  cursor: pointer;
  background-color: $--secondary-color;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}
